@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", sans-serif;
}

body {
  scroll-behavior: smooth;
}

.input-container {
  @apply relative h-20 w-20 m-2 mb-12;
}

.input-container.large {
  @apply relative h-20 w-32 m-2 mb-12;
}

.input-container input {
  @apply absolute h-full w-full m-0 cursor-pointer z-10 opacity-0;
}

.input-container .radio-title {
  @apply flex flex-col items-center justify-center h-full border-2 border-dark-purple rounded-lg duration-300;
}

.input-container .icon {
  @apply text-dark-purple text-4xl;
}

.input-container label {
  @apply text-dark-purple text-sm font-bold uppercase;
}
.input-container label.large-text {
  @apply text-dark-purple text-xs font-bold uppercase;
}

.radio-button:checked + .radio-title {
  @apply bg-dark-purple shadow-lg;
  transform: scale(1.1);
}

.radio-button:hover + .radio-title {
  @apply shadow-sm;
}

.radio-button:checked + .radio-title .icon,
.radio-button:checked + .radio-title label {
  color: white;
}
